<div class="mb-3">
    <label class="form-label">Name</label>
    <input name="name" type="text" class="form-control" value="{{product.name}}" required>
</div>
<div class="mb-3">
    <label class="form-label">Price</label>
    <input name="price" type="number" class="form-control" value="{{product.price}}" required>
</div>
<div class="mb-3">
    <label class="form-label">Image</label>
    <input name="img" type="text" class="form-control" value="{{product.img}}" required>
</div>
<div class="mb-3">
    <label class="form-label">Color</label>
    <input name="color" type="color" class="form-control" value="{{product.color}}" >
</div>
<div class="mb-3">
    <label class="form-label">Category</label>
    <input name="category" type="text" class="form-control" value="{{user.category}}" >
</div>
